.MyPosts {
  display: flex;
  flex-direction: column;
}

.input {
  box-sizing: border-box;
  padding-left: 5px;
  background-color: aliceblue;
  border-radius: 10px;
  resize: none;
  width: 300px;
  border: #81b7ec;
  outline: none;
}

.posts__block {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.btn {
  width: 28%;
  transition-duration: 0.4s;
  background-color: #81b7ec;
  border: 1px solid #2b81d7;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #4a8cce;
  color: white;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  margin-top: 10px;
}

