@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi&display=swap");
* {
  font-family: "Kaisei HarunoUmi", serif;
}

.app-wrapper {
  font-size: 16px;
  margin: 0 auto;
  display: grid;
  width: 1300px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}

.app-wrapper-content {
  font-size: 18px;
  border-radius: 10px;
  grid-area: c;
  background-color: #97b7d6;
}
